/*
font-family: 'Dekko', cursive; *
font-family: 'Indie Flower', cursive; *
font-family: 'Short Stack', cursive;
font-family: 'Yomogi', cursive; 

#533B34 - dark brown
#BD8F82 - medium brown
#E1C5AA - light brown
#E4908B - muave
#FFF5EC - cream white
*/

body {
    background: rgb(24, 23, 22);
    background: linear-gradient(0deg, rgba(255,245,236,0.9587185215883228) 20%, rgba(244,205,197,1) 30%, rgba(225,197,170,1) 51%, rgba(227,200,174,1) 58%, rgba(243,225,208,1) 70%, rgba(255,245,236,0.9615196420365021) 77%);
    font-family: 'Indie Flower', cursive;
    color: #533b34;
    font-size: 1.5rem;
}

#bodyBackground {
    width: 98%;
    background: #FFF5EC;
}

h1, h2, h3, h4 {
    font-family: 'Dekko', cursive;
}


.icon {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  .navbar.active {
    background: #BD8F82;
  }
  .nav-link {
    font-family: 'Dekko', cursive; 
    font-size: 1.3rem;
    color: #533b34;
    text-decoration: none;
    letter-spacing: 3px;

}
.nav-link:hover {
    font-family: 'Dekko', cursive; 
    color: #BD8F82;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #E4908B;
    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: .5s;

}
.navbar.navbar {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff5ecdc;
  
}
.navbar.navbar:hover {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff5ec;
  
}

.fas{
     color: #E4908B;
}
.fas:hover{
    color: #BD8F82;
}
.fa-solid {
    color: #E4908B;
}
.fa-solid:hover {
    color: #BD8F82;
}
.fa-regular {
    color: #E4908B;

}
.fa-regular:hover {
    color: #BD8F82;

}
.px-btn {
  background: #BD8F82;
}
.sm-icons {
    flex-direction: row;
  }
  @media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
      padding-right: 1em;
    }
  }
  .about-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px;
  }
  @media (max-width: 767px) {
    .about-text h1 {
      font-size: 2.5rem;
      
    }
  }

  .about-text h2 {
    font-weight: 600;
    margin-bottom: 15px;
  }
  @media (max-width: 767px) {
    .about-text h2 {
      font-size: 1.8rem;
    }
  }
  #about {
    margin-top: 50px !important;
  }
  .about-text p {
    font-size: 1.5rem;
  }

  .about-text .btn-bar {
    padding-top: 8px;
  }
  .about-text .btn-bar a {
    min-width: 150px;
    text-align: center;
    margin-right: 10px;
  }
  
  
  .theme-color {
      color: #E4908B;
  }
  

  
  .px-btn.theme {
      background: #E4908B;
      color: #FFF5EC;
      text-decoration: none;
      border: 1px solid transparent;
      font-family: 'Dekko', cursive;
      font-size: 1.3rem;
  }
  .px-btn {
      padding: 0 40px;
      line-height: 42px;
      border: 1px solid transparent;
      position: relative;
      display: inline-block;
      background: none;
      border: none;
      -moz-transition: ease all 0.35s;
      -o-transition: ease all 0.35s;
      -webkit-transition: ease all 0.35s;
      transition: ease all 0.35s;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 500;
  }
  .px-btn:hover {
    border: 5px  #FFF5EC;
    font-size: 1.2rem;
    color: #533B34;
    cursor: pointer;
  }


#projects {
  margin-top: 150px;
}
.dark-color {
  font-size: 3rem;
  font-weight: 700;
}

  .bg-contact100 {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 100px;
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}

.wrap-contact100 {
    width: 1163px;
    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 130px 157px 148px;
}

/*------------------------------------------------------------------
[  ]*/
.contact100-pic {
    width: 310px;
    padding-top: 55px;
}

.contact100-pic img {
    max-width: 100%;
    margin-top: 100px;
}


.contact100-form {
    width: 390px;
    
}

.contact100-form-title {
    display: block;
    font-family: 'Dekko', cursive;
    font-size: 3rem;
    font-weight: 700;
    color: #533B34;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 50px;
    margin-bottom: 70px;
}
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #aaaaaa;
}

input:-moz-placeholder {
  color: #aaaaaa;
}

input::-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder {
  color: #aaaaaa;
}

textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

textarea:-moz-placeholder {
  color: #aaaaaa;
}

textarea::-moz-placeholder {
  color: #aaaaaa;
}

textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

input.input100 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 50px;
}

input.input100[name="email"] {
    padding: 0 30px 0 54px;
}

textarea.input100 {
    min-height: 150px;
    border-radius: 25px;
    padding: 14px 30px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #BD8F82;
}


.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #E4908B;
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 60px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
    color: #aaaaaa;
    font-size: 15px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
    color: #E4908B;
    padding-left: 22px;
}

.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.contact100-form-btn {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #E4908B;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background: #333333;
}


@media (max-width: 1200px) {
    .contact100-pic {
        width: 33.5%;
    }

    .contact100-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .wrap-contact100 {
        padding: 110px 80px 157px 90px;
    }

    .contact100-pic {
        width: 35%;
    }

    .contact100-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .wrap-contact100 {
        padding: 110px 80px 157px 80px;
    }

    .contact100-pic {
        display: none;
    }

    .contact100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 110px 15px 157px 15px;
    }
}



.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
button:hover {
  cursor: pointer;
}
#navbar-toggler-icon {
  color: #533b34;
}
#navbar-toggler-icon:hover {
  color: #BD8F82;
   -moz-transition: ease all 0.35s;
      -o-transition: ease all 0.35s;
      -webkit-transition: ease all 0.35s;
}
