/*
font-family: 'Dekko', cursive; *
font-family: 'Indie Flower', cursive; *
font-family: 'Short Stack', cursive;
font-family: 'Yomogi', cursive; 
#533B34 - dark brown
#BD8F82 - medium brown
#E1C5AA - light brown
#E4908B - muave
#FFF5EC - cream white
*/
html {
  scroll-behavior: smooth;
}
::selection {
  background:#e1c5aa;
}
body {
  background: rgb(24, 23, 22);
  background: linear-gradient(0deg, rgba(255, 245, 236, 0.9587185215883228) 20%, rgba(244, 205, 197, 1) 30%, rgba(225, 197, 170, 1) 51%, rgba(227, 200, 174, 1) 58%, rgba(243, 225, 208, 1) 70%, rgba(255, 245, 236, 0.9615196420365021) 77%);
  font-family: 'Indie Flower', cursive;
  color: #533b34;
  font-size: 1.5rem;
}

#bodyBackground {
  width: 95%;
  background: #FFF5EC;
}

h1,
h2,
h3,
h4 {
  font-family: 'Dekko', cursive;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;

}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}

#find-more  a {
  color: #BD8F82;
  text-decoration: underline #E4908B 0.5rem;
  text-underline-offset: 0.5rem;
}
#find-more {
  margin-top: 100px;
}
#find-more  a:hover {
  color: #fff5ec;
  background: #E4908B;
  font-size: 1.6rem;
}


.icon {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  stroke-width: 0;
}

.navbar.active {
  background: #BD8F82;
}

.nav-link {
  font-family: 'Dekko', cursive;
  font-size: 1.3rem;
  color: #533b34;
  text-decoration: none;
  letter-spacing: 3px;

}

.nav-link:hover {
  font-family: 'Dekko', cursive;
  color: #BD8F82;
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: .5s;

}

.navbar.navbar {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff5ecdc;

}

.navbar.navbar:hover {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff5ec;

}

@media only screen and (max-width: 985px) {
  #navbarSupportedContent {
    box-shadow: 10px 10px 8px #888888;
    align-content: left;
    color:#533b34;
    padding: 1em 0.7em;


}
}


.fas {
  color: #E4908B;
}

.fas:hover {
  color: #BD8F82;
}

.fa-solid {
  color: #E4908B;
}

.fa-solid:hover {
  color: #BD8F82;
}

.fa-regular {
  color: #E4908B;

}

.fa-regular:hover {
  color: #BD8F82;

}

.toggle{
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
}
#light:hover{
  color: yellow;
}
.about-text h1 {

  margin: 0 0 10px;
}



#about {
  margin-top: 30px !important;
}

.about-text p {
  font-size: 1.5rem;
}


.theme-color {
  color: #E4908B;
}

.about-img {
  margin-top: 50px;
}


.px-btn.theme {
  background-color: #E4908B;
  border: 3px solid #c9837f;
  text-decoration: none;
  font-family: 'Dekko', cursive;
  font-size: 1.3rem;
}

.px-btn.theme-outline {
  background-color: #533b34;
  color: #fff5ec;
  font-family: 'Dekko', cursive;
  font-size: 1.3rem;
}

.px-btn:visited {
  color: #fff5ec;
  text-decoration: none;
}
.px-btn {
  padding: 0 40px;
  line-height: 42px;
  border: 1px solid transparent;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
}

.px-btn:hover {
  border: 5px #FFF5EC;
  font-size: 1.2rem;
  color: #533B34;
  cursor: pointer;
}


#projects {
  margin-top: 50px;
}

.dark-color {
  font-size: 3rem;
  font-weight: 700;
}


#contact_me {
  margin-bottom: 100px;
}

#message_heart {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
}

#navbar-toggler-icon {
  color: #533b34;
}

#navbar-toggler-icon:hover {
  color: #BD8F82;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
}
#nameCredits {
  color: #E4908B;
  font-family: 'Dekko', cursive; 
}

.fade-in-bottom {
  animation:fade-in-bottom .5s cubic-bezier(.39,.575,.565,1.000) 2ms both
}
@keyframes fade-in-bottom {
  0%{
    transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1
    }
    0% {
      transform: scale(0, .025);
    }
    50% {
      transform: scale(1, .025);
    }
}
h4 span{
  display: inline-block;
  } 

  #my_projects {
    text-align: center !important;
    margin-top: 150px;
  }
  